.product {
  display: flex;
  padding: 5px; }

.product-upvote {
  display: flex;
  align-items: center;
  padding-bottom: 10px; }
  .product-upvote__img {
    height: auto;
    width: 25px; }
  .product-upvote__span {
    padding-left: 5px;
    font-size: 1.2em; }

.product-info {
  padding: 10px 0px 0px 20px; }
  .product-info p {
    margin: 0px; }

.product-img__img {
  height: auto;
  width: 175px; }

.product-author {
  display: flex;
  align-items: center;
  padding-top: 15px; }
  .product-author__img {
    height: 35px;
    width: 35px;
    border-radius: 500rem; }
  .product-author span {
    margin-right: 8px; }

body {
  display: flex;
  margin: 0px;
  padding: 0px;
  border: 0px; }

p {
  font-size: 1em;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif; }

a {
  text-decoration: none;
  color: #4183C4;
  line-height: 1.4285em; }

h1 {
  text-align: center;
  font-size: 2rem;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif; }

#root {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%; }
